.sitebar{
    display: flex;
}

.menu{
    margin-left: 40px;
    max-width: 600px;
    margin-top: 90px;
}

.cur{
    cursor: pointer;
}

@media screen and (max-width: 540px) {
    h1{
        margin: 0px;
    }

  .sitebar{
    display: block;
  }

  .menu{
    margin: 15px;
    display: flex;
    overflow: scroll;
    border: 1px black solid;
    border-radius: 30px;
    padding: 5px;
  }
}