.sitebar{
    display: flex;
}

.menu{
    margin-left: 40px;
    width: 240px;
    margin-top: 90px;
}

.thema{
  border: black 1px solid;
  background: #1b1d21;
  border-radius: 15px;
  padding: 4px;
}

.cur{
    cursor: pointer;
}

@media screen and (max-width: 540px) {
    h1{
        margin: 0px;
    }

  .sitebar{
    display: block;
  }

  .menu{
    margin: 15px;
    display: flex;
    overflow: scroll;
    border: 1px black solid;
    border-radius: 30px;
    padding: 5px;
    width: 93%;
  }
}